.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
   
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

nav a:hover{
    color: orange;
    
}